body {
    width: 100%;
    height: 100%;
    max-width: 1098px;
    margin: auto;
    font-family: monospace;
    background-color: #fffeee;
    line-height: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
    padding: 0 20px;
}

main {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.wave {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.wave img {
    width: 250px;
    padding: 50px 0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    text-align: center;
}

.header .mini {
    font-size: 16px;
}

.header p span {
    display: inline-block;
    background-color: #efefef;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

span.orange {
    background-color: orange !important;
}

span.orange a { 
    color: #000;
    text-decoration: none;
}

span.orange a:hover {
    color: #666;
}

span.orange:hover {
    background-color: #000 !important;
}

span.orange:hover a {
    color: #fff;
}

.portfolio,
.info {
    padding: 40px;
    font-size: 20px;
}

@media screen and (max-width: 822px) {
    main {
        padding: 25px 50px;
    }
    .wave img {
        padding: 25px 0;
    }
}
